pipeline {
    agent any
    
    stages {
        stage('Checkout') {
            steps {
                // Checkout the code from the repository
                git 'https://gitlab.com/jc1arke/tweet-interpreter.git'
            }
        }
        stage('Install dependencies') {
            steps {
                // Install Node.js dependencies
                sh 'npm install' 
            }
        }
        stage('Test') {
            steps {
                // Run unit tests
                sh 'npm test' 
            }
        }
    }
}
